<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Loyalty</title>
        @Styles.Render("~/bundles/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Loyalty</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (Session["Id"] == null)
                        {   
                            <li>@Html.ActionLink("REGISTER", "Register", "UserAccount")</li>
                            <li>@Html.ActionLink("LOGIN", "Login", "UserAccount")</li>
                        }
                        @if (Session["Id"] != null)
                        {
                            <li>@Html.ActionLink("CODES USAGE", "CodesUsage", "CompanyCodes")</li>
                            <li>@Html.ActionLink("NEW COMPANY", "Post", "Companies")</li>
                            <li>@Html.ActionLink("NEW CODE", "PostCode", "CompanyCodes")</li>
                            <li>@Html.ActionLink("NEW REWARD", "NewReward", "Rewards")</li>
                            <li>@Html.ActionLink("INSERT CODE", "GetPoints", "UserPoints")</li>
                            <li>@Html.ActionLink("ALL REWARDS", "AllRewards", "Rewards")</li>
                            <li>@Html.ActionLink("AVAILABLE REWARDS", "Index", "Rewards")</li>
                            <li style="float:right">@Html.ActionLink("LOGOUT", "Logout", "UserAccount")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
